@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

main{
    width: 1500px;
    margin: 0 auto;
}
/***Banner Section Start *****/

header {
    width: 1500px;
    height: 70vh;
    margin: 0 auto;
    display: block;
}

.banner {
    background-color: #c9f7e9;
    padding-top: 80px;
    padding-bottom: 220px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    border-radius: 10px;
    text-align: justify;
}

.banner h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.5);
    font-family: 'Fira Sans', sans-serif;
}

h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
    color: #0E0E0E;
    margin-bottom: 50px;
}

.btn ,.donate-btn{
    background-color: #006A50;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    width: 270px;
    height: 56px;
    margin-top: 50px;
    font-weight: bold;
}

.btn:hover{
    background-color: white;
    border:1px solid #006A50;
    color:#006A50;
}

.flag-section {
    position: relative;
    width: 250px;
    height: 250px;
    text-align: right;
}

.flag-section img {
    width: 470px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
}

/*******End Banner Section********/


/********* Vision Section Strart ********/
.v-container {
    display: flex;
    width: 1500px;
    margin: 0 auto;
}

.vision {
    text-align: center;
    padding: 50px 0;
    margin-top: 20px;
}

.vision h2,.news-container h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    color: #0E0E0E;
}

.vision p,.news-container p {
    font-size: 16px;
    line-height: 24px !important;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    text-align: left;
}

.vision-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    border-radius: 10px;
    padding: 70px 40px 70px 40px;
    text-align: justify;
    width: calc(33.33% - 20px);
    margin: 0 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.card1 {
    background-color: rgba(84, 144, 245, 0.2);
}

.card2 {
    background-color: #C6E4D6;
}

.card3 {
    background-color: #F7EBCF;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgba(14, 14, 14, 0.8);
}

.card p {
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 16px;
}

.learn-more {
    display: inline-block;
    background-color: #5490F5;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
}

.learn-more:hover{
    color: #5490F5;
    background-color: #fff;
}


/****** Vision Section End ******/

/************* Quote Section Start ********/
.q-container{
    padding: 50px;
    border-radius: 10px;
    position: relative; 
    margin-bottom: 50px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25); 

    
}

.text{
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0ed9;
}

.name{
    
    color:#0E0E0E;
    margin:0;
    font-size: 20px;
    font-weight: 600;
}

.title{
    margin:0;
    color:#0e0e0e96;
    font-size: 16px;
}


.q-container::before {
        background-image: url('assets/quote-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        top: 40px;
        left: 51px;
        width: 64px;
        height: 64px;
       
    }

/************* Quote Section End **********/

/********** News Section Start ********/

  .news-section {
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25); 
    align-items: center; 
    display: flex;
    border: 1px solid #ccc;
    padding: 50px 20px;
    margin-bottom: 50px;
   
}

.image-container {
    flex: 0 0 40%; 
    text-align: center;
}

.image-container img {
    width: 408px;
    height: 308px;
    height: auto;
    border-radius: 10px;
    margin:0 auto;
}

.news-content {
    flex: 0 0 60%; 
    padding: 25px;
}

.news-content h2 {
    
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.source {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.source img {
    width: 100px;
    height: 56px;
    display: inline;
}

.read-more {
    display: inline-block;
    padding: 10px 15px;
    background-color: #006A50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top:20px;
    font-weight: 800;
}

.read-more:hover{
    background-color: white;
    color: #006A50;
    border:1px solid #006A50;
}

.source-details {
    font-size: 12px;
    color: #666;
}


.satelite{
    padding-left: 50px;
}

/******* News Section End **********/

/************* Dontate Section Start ***************/

.donate-section {
    text-align: center;
    margin: 100px 0;
  }
  
  .donate-section h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 800;
  }
  
  .donate-section p {
    
    margin: 0 auto 30px;
    color: #0E0E0E; 
    font-size: 16px;
  }
  
  .donation-options {
    display: flex;
    justify-content: space-evenly;
    margin:0 auto 50px;
    width: 80%;
    
  }
  
  .button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 40px;
    cursor: pointer;
    font-weight: 800;
    width: 252px;
    height: 100px;
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25); 
  }

  .button2{
    background-color: #C6E4D6;
  }
  .button:hover{
    background-color: #006A50;
    color:#fff;

  }
  .others-amount {
    margin-bottom: 20px;
    display: block;
  }
  
  .others-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: block;
    
  }
  
  .others-amount input{
    border:none;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25); 
    color:#0e0e0e39;
    font-size: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    text-align: center;
  }

.other-amounts input[type="text"] {
    width: 70%;
    
}


.donate-btn{
    font-size: 20px;

}

.donate-btn:hover{
    background-color: white;
    color:#006A50;
    border:1px solid #006A50;
    cursor: pointer;
}

/************* Donate Section End **********/

/********** Newsletter Section Start *********/
.newsletter-section {
    background-color: #C6E4D6; 
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 40px;

  }
  
  .newsletter-section h2 {
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 800;
    color:#0E0E0E;
  }
  
  .newsletter-section p {
    margin-bottom: 40px;
    font-weight: 400;
    color:#0e0e0e84 ; 
  }
  
  .input-group {
    display: flex;
    justify-content: center;
    margin-top:40px 0;
  }
  
  .input-group input[type="email"] {
    padding: 10px 15px;
    border: 1px solid #0e0e0e6e;
    border-radius: 10px;
    width: 300px; 
    margin-right: 10px; 
    width: 35%;
    padding: 15px;
    font-size:20px;
    border:none;
    padding-left:25px;
    margin-right: -9px!important;


  }
  
  .subscribe-btn {
    background-color: #006A50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .note {
    font-size: 16px;
    color: #0E0E0E;
    margin-top: 30px;
  }
/********** Newsletter Section End *********/

/********** footer-last section start *********/
.footer-last {
    padding: 20px 0; 
    text-align: center;
  }
  
  .footer-last h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .social {
    display: flex;
    justify-content: center;
  }
  
  .social a {
    margin: 50px 0;

  }
  
  .social a img {
    width: 20px; 
    height: 20px; 
    margin-right: 25px;
  }
/********** footer-last section End *********/

